/* styles the nav bar and and adds hover effect when mouse moves over search or saved */
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    background-color:darkslateblue;
    color: white;
}

strong {
    margin-left: 15px;
    color: white;
}
strong:hover {
    color: black;
}