.App {
  text-align: center;
}

.savedBooks {
  /* display: flex;
  flex-direction: column;
  border: 2px solid darkgrey; */
  padding: 10px;
}

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
