.app {
  position: relative;
}

.savedBooks{
  margin: 20px;
  padding: 10px;
  border: 2px solid darkgray;
}

.searchContainer {
  margin: 20px;
  padding: 0 10px;
  border: 2px solid darkgray;
}

.title {
  margin-bottom: 10px !important;
}

.authors {
  margin-top: 0 !important;
}