.savedCard {
    padding: 10px;
    border: 2px solid darkgray;
}

.top {
    display: flex;
    flex-direction: row;
}

.right {
    margin-left: auto;
}

.bottom {
    display: flex;
    flex-direction: row;
}

.description {
    margin: 10px 20px !important;
}