/* styles footer */
.footer {
    text-align: center;
    border-top: 2px solid darkgray;
    background-color:darkslateblue;
    color: white;
    margin-top: 40px;
    padding: 10px;
}

.text {
    margin: 0px !important;
}

