/* styles search bar component */
.searchBar {
    display: flex;
    flex-direction: column;
    border: 2px solid darkgray;
    margin: 20px;
    padding: 10px;
    align-items: center;
}

/* gives important styles to override initial styles given */
.bookSearch {
    margin: 5px 0 0 0  !important;
}

.book {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}

input {
    width: 99%;
}

button {
    margin-top: 15px;
}

@media screen and (min-width: 321px) {
    .searchBar {
        align-items: start;
    }
    button {
        margin-left: auto;
    }
    .book {
        margin-bottom: 15px !important;
    }
}