/* styles search bar component */
.searchBar {
    display: flex;
    flex-direction: column;
    border: 2px solid darkgray;
    margin: 20px;
    padding: 10px;
}

/* gives important styles to override initial styles given */
.bookSearch {
    margin: 5px 0 0 0  !important;
}

.book {
    margin-top: 5px !important;
}

input {
    width: 99%;
}

button {
    margin-left: auto;
    margin-top: 15px;
}