.bookCard {
    display: flex;
    flex-direction: column;
    border: 2px solid darkgray;
    margin:20px;
    padding: 10px;
}

.top {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
    flex-direction: row;
}

.description {
    margin-left: 5px;
}